:root{
    --q-color-primary: #1976d2;
    --q-color-secondary: #26a69a;
    --q-color-accent: #9c27b0;
    --q-color-positive: #21ba45;
    --q-color-negative: #c10015;
    --q-color-info: #31ccec;
    --q-color-warning: #f2c037;
    --q-color-dark: #1d1d1d;
}